@page "/"



@inject IStringLocalizer<Resources> Loc

<PageTitle> @Loc["PAGE_TITLE"]</PageTitle>

<h1> @Loc["PAGE_HEADER"]</h1>

@Loc["PAGE_BODY"] 

@@masterzdran

<div class="card-group">
    <div class="card card-body">
    <NifValidatorComponent.NifValidatorModule Title="NIF Validator"/>
    </div>
    <div class="card card-body">
    <NissValidatorComponent.NissValidatorModule Title="NISS Validator"/>
    </div>
</div>
<div class="card-group">
    <div class="card card-body">
    <CCValidatorComponent.CCValidatorModule Title="CC Validator"/>
    </div>
    <div class="card card-body">
    <IBANValidatorComponent.IBANValidatorModule Title="IBAN Validator"/>
    </div>
</div>

<div class="card-group">
    <div class="card card-body">
    <CCGeneratorComponent.CCGeneratorModule Title="CC Generator"/>
    </div>
</div>



